@use "src/theme"  as theme;

.toolbar {
  height: 70px;
  justify-content: flex-end;

  & mat-nav-list {
    display: flex;
    align-items: center;

  }

  &-icon{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__photo {
      background-color: gray;
      border-radius: 50px;
      margin-right: 5px;
    }
  }

  &-button {
    min-width: 35px;
  }
}

@media screen and (max-width: theme.$width-medium){
  .toolbar {
    height: 50px;
  }
}
